@model MvcMoviesDB.Models.Movie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    <h4>Movie</h4>
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
    </div>
    <div>
        @Html.LabelFor(model => model.ReleaseDate)
        @Html.EditorFor(model => model.ReleaseDate)
    </div>
    <div>
        @Html.LabelFor(model => model.Genre)
        @Html.EditorFor(model => model.Genre)
    </div>
    <div>
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)
    </div>
    <div>
        <input type="submit" value="Save" class="btn btn-default"/>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

